<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ander.asus.itapp">
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pdf.PdfActivity"></activity>
        <activity android:name=".test.PrincipalTestActivity" />
        <activity android:name=".test.MenuTestActivity" />
        <activity android:name=".manual.ruta.TipoUnoActivity" />
        <activity android:name=".manual.ruta.RutaTipoTresActivity" />
        <activity android:name=".manual.ruta.RutaTipoDosActivity" />
        <activity android:name=".ruta.TipoAtencionActivity" />
        <activity android:name=".manual.perfiles.activitys.Orden_General_Activity" />
        <activity android:name=".manual.perfiles.activitys.Padre_Familia_diag_Activity" />
        <activity android:name=".manual.perfiles.activitys.Directivo_estudiante_Activity" />
        <activity android:name=".manual.estimulos.EstimuloActivity" />
        <activity android:name=".manual.protocolos.ProtocoloActivity" />
        <activity android:name=".manual.ruta.Ruta_Atencion_Activity" />
        <activity android:name=".manual.pactos.Pactos_convivencia_Activity" />
        <activity android:name=".manual.perfiles.activitys.EstudianteDirectivoActivity" />
        <activity android:name=".manual.perfiles.activitys.AdministrativoEstudianteActivity" />
        <activity android:name=".manual.perfiles.activitys.EstudianteAdministrativoActivity" />
        <activity android:name=".manual.derechos.activitys.ServiciosGeneralesActivity" />
        <activity android:name=".manual.derechos.activitys.AdministrativoActivity" />
        <activity android:name=".manual.derechos.activitys.DerechoRepFsmiliaActivity" />
        <activity android:name=".manual.derechos.activitys.DerechoRepAmdActivity" />
        <activity android:name=".manual.derechos.activitys.DerechoRepDocActivity" />
        <activity android:name=".manual.derechos.activitys.DerechoRespTresActivity" />
        <activity android:name=".manual.derechos.activitys.DerechosRespDosActivity" />
        <activity android:name=".manual.derechos.activitys.DerechoRespActivity" />
        <activity android:name=".manual.derechos.DerechosActivity" />
        <activity android:name=".manual.perfiles.activitys.DocenteEstudianteActivity" />
        <activity android:name=".manual.pactos.EstimulosActivity" />
        <activity android:name=".manual.perfiles.activitys.Estudiante_docente_Activity" />
        <activity android:name=".calendario.EventoDetalleActivity" />
        <activity android:name=".calendario.EventoActivity" />
        <activity android:name=".manual.perfiles.activitys.Estudiante_estudiante_Activity" />
        <activity android:name=".manual.perfiles.FuncionarioActivity" />
        <activity android:name=".manual.perfiles.PadreActivity" />
        <activity android:name=".manual.perfiles.DocenteActivity" />
        <activity android:name=".manual.diagnostico.DiagnosticoActivity" />
        <activity android:name=".manual.perfiles.EstudianteActivity" />
        <activity android:name=".manual.perfiles.PerfilActivity" />
        <activity android:name=".manual.ManualActivity" />
        <activity android:name=".tips.TipsEscolares" />
        <activity android:name=".tips.TipsFamilia" />
        <activity android:name=".tips.TipAmbiente" />
        <activity android:name=".tips.MenuTips" />
        <activity android:name=".institucional.InstitucionActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".login.Registro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>